* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
   background-color: #222;
    color: #e5e5e5;
    padding: 20px; /* <- penting untuk HP */
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    text-align: center;
    color: #7132CA;
    letter-spacing: 1px;
    margin: 20px 0 20px 0;
}
p {
    margin: 30px;
    font-size: 12px;
    opacity: .8;
}
.card {
    background: #1a1a1a;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 0 15px #7132CA44;
    max-width: 600px;
    width: 100%;        /* ← penting */
    margin: 0 auto;
}

textarea {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: #111;
    color: white;
    resize: none;
    height: 120px;
    outline: none;
    font-size: 16px;
}

button {
    background: #7132CA;
    color: #000;
    padding: 12px 18px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.2s;
    font-weight: bold;
    width: 100%;   /* ← full width, lebih bagus di HP */
}

button:hover {
    background: #7132CA;
}

.success {
    text-align: center;
    color: #7132CA;
    margin-top: 15px;
    font-size: 14px;
    opacity: 0.8;
}

/* === RESPONSIVE MOBILE === */
@media (max-width: 480px) {
    .container {
        /* background: red; */
        height: 100vh;
        width: 100%;
    }
    h2 {
        font-size: 29px;
        margin: 15px 0 25px;
    }

    .card {
        padding: 15px;
        border-radius: 12px;
        width: 800px;
    }

    textarea {
        height: 100px;
        font-size: 14px;
    }

    button {
        padding: 10px;
        font-size: 15px;
    }
}
